@import "tailwindcss";


@font-face {
    font-family: "urbanist-bold";
    src: url(./asset/fonts/Urbanist/static/Urbanist-Bold.ttf);
}
@font-face {
    font-family: "urbanist-medium";
    src: url(./asset/fonts/Urbanist/static/Urbanist-Medium.ttf);
}
@font-face {
    font-family: "urbanist-semibold";
    src: url(./asset/fonts/Urbanist/static/Urbanist-SemiBold.ttf);
}

@theme{
    --font-urbanistbold: "urbanist-bold", sans-serif;
     --font-urbanistmedium: "urbanist-medium", sans-serif;
      --font-urbanistsemibold: "urbanist-semibold", sans-serif;

}